@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Ubuntu&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
}

.submitButton {
    text-align: center;
    margin-top: 20px;
}

.verifySymbol {
    width: 180px;
    height: 200px;
}

.verifySymbolContainer {
    margin-top: 30px;
    text-align: center;
}


.heading {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Bungee Spice', cursive;
}

label {
    background-color: aqua;
    padding: 5px;
    border-radius: 23px;
    margin: 10px auto 10px;
    font-weight: bold;
}

.btn {
    margin-top: 10px;
}

.bold {
    font-weight: bold;
    margin-left: 10px;
}

.lastMsg {
    font-family: 'Bungee Spice', cursive;
    text-align: center;
    margin-top: 30px;
}