.container {}

.submitButton {
    text-align: center;
    margin-top: 20px;
}

.verifySymbol {
    width: 250pxpx;
    height: 200px;
}

.verifySymbolContainer {
    margin-top: 30px;
    text-align: center;
}

.verifyMsg {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

.heading {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}